@{
    ViewData["Title"] = "Home";
    
}
<link rel="stylesheet" href="~/css/HomeStyle.css" />

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            Database Stats
        </div>
        <div class="col-sm-8">
            <div class="container">
                <table class"TableStyle">
                    <tr><td>Κωδικός</td><td>Όνομα</td><td>Διεύθυνση</td></tr>
                    <tr><td>117</td><td>Stefanos</td><td>Ippokratous 51</td></tr>

                </table>
            </div>
        </div>
        <div class="col-sm-1">
            Επιλογές... <!-- Make Responsive-->
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-sm btn-default">Νεα Καταχώρηση</button>
                </div>
            </div>
        </div>
    </div>
</div>
